
html, body, #root {
  height: 100%;
}


.normal___fdcpk {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title___3ymKN {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome___35irN {
  height: 328px;
  background: url(/static/yay.44dd3333.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list___2BSeE {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list___2BSeE code {
  background: #f7f7f7;
}

.normal___bXiPK {
}

.normal___2Tv3_ {
}

.normal___1AaUc {
}

.normal___2xLhP {
}

.normal___3BpCT {
}
