<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estore.product.mapper.ProductVideoMapper">

    <resultMap id="productVideo" type="com.estore.product.entity.ProductVideo">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="displayOrder" column="display_order"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="selectByProductId" parameterType="int" resultMap="productVideo">
        SELECT  id, 
                product_id, 
                display_order, 
                name, 
                version
        FROM t_product_video
        WHERE product_id = #{productId}
    </select>

    <insert id="insert" parameterType="com.estore.product.entity.ProductImage" 
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_product_video(product_id, 
                                    display_order, 
                                    name, 
                                    version)
        VALUES (#{productId}, 
                #{displayOrder}, 
                #{name}, 
                1)
    </insert>

    <delete id="deleteByProductId" parameterType="int">
        DELETE FROM t_product_video 
        WHERE product_id = #{productId}
    </delete>
</mapper>